.html {
	width: 100%;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

a {
	color: #61dafb;
	margin-right: 1rem;
	text-decoration: none;
}

.Navbox {
	text-align: left;
	padding: 2rem;
}

.Homepage {
	margin: 0 auto;
}

.BlogList {
	text-align: center;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	margin: 0 auto;
}

.BlogCard {
	border: 1px solid grey;
	border-radius: 5px;
	margin: 2rem;
	padding: 2rem;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.BlogCard-Votes {
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius: 4px;
	width: 100%;
	border-top: 1px solid grey;
	background-color: rgb(230, 227, 227);
}

.BlogDetails span {
	font-size: 0.7rem;
	font-weight: 400;
}

button {
	border: 1px solid indigo;
	background-color: indigo;
	color: white;
	border-radius: 5px;
	margin: 0.3rem;
	padding: 0.3rem 0.7rem;
	text-align: center;
}

button:hover {
	background-color: whitesmoke;
	color: black;
}

.Cancel a {
	margin: 0;
	color: white;
}

.Cancel button:hover {
	background-color: whitesmoke;
	color: black;
}

form {
	width: 70vw;
	margin: 0 auto;
}

input,
textarea {
	display: block;
	width: 100%;
	margin: 0.5rem auto;
	border-radius: 5px;
	border: 1px solid grey;
}

input {
	height: 1.5rem;
}

.error {
	color: red;
	text-align: left;
}

.Comments {
	width: 95vw;
	margin: 0 auto;
}

.Comments h3 {
	margin: 1rem;
	font-size: 1.5rem;
}

.Comment {
	list-style-type: none;
	text-align: left;
	position: relative;
	margin-bottom: 1.5rem;
}

.Comment span {
	margin-right: 0.8rem;
}

.Comment i {
	position: absolute;
	left: 0;
}

.Comment span:hover {
	cursor: pointer;
}

.CommentForm {
	text-align: left;
}

.CommentForm button {
	margin: 0.3rem 0;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
